.size-table {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    max-width: 1080px;
    width: 100%;
    margin: auto;
    position: relative;
}

.size-table__tr:first-child:after {
    content: "";
    display: block;
    width: 95%;
    height: 2px;
    position: absolute;
    top: 60px;
    left: 1.25rem;
    background-color: #ababab;
    margin-top: 1.4375rem;
    opacity: .5;
    margin-bottom: 24px;
}

.size-table__tr:first-child {
    margin-bottom: 20px;
}


.size-table__tr:nth-child(2) {
    margin-top: 40px;
}

.size-table__td:first-child {
    font-weight: 600;
    width: 300px;
}

.size-table__td {
    height: 24px;
    width: 94px;
    border: none;
    display: inline-block;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #fff;
}

.size-table__td .size-table__td:first-child {
    color: #ababab;
    font-size: .9375rem;
    line-height: 1.2;
    padding: 1.25rem 0 1.25rem 1.125rem;
    background: #fff;
}

.size-table__thead {
    margin-bottom: 38px;
}

.size-table__td-blue {
    background: #f2f2f2;
    color: red;
}

.size-table__td-grey {
    background: #f2f2f2;
}

