
.size-table {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 1080px;
    margin: auto;
    position: relative;
    background: #f2f2f2;
    cursor: pointer;
}

.size-table__tr {
    box-sizing: border-box;
}

.size-table__tr:first-child:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 60px;
    background-color: #ababab;
    opacity: .5;
    margin-bottom: 24px;
    z-index: 10;
}

.size-table__td:first-child {
    position: fixed;
    font-weight: 600;
    width: 200px;
}

.size-table__td:nth-child(2) {
    margin-left: 220px;
}

.size-table__td {
    height: 24px;
    width: 94px;
    border: none;
    display: inline-block;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background: #f2f2f2;
}

.size-table__td .size-table__td:first-child {
    color: #ababab;
    font-size: .9375rem;
    line-height: 1.2;
    padding: 1.25rem 0 1.25rem 1.125rem;
    background: #fff;
}

.size-table__thead {
    margin-bottom: 38px;
}

.size-table__td-color-red {
    background: #ffffff;
    color: red;
}

.size-table__td-white {
    background: #ffffff;
}

@media (max-width: 768px) {
    .table-size-container {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .modal-body {
        min-width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .size-table__td {
        font-size: 14px;
    }

    .size-table__td {
        height: 24px;
        width: 54px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    }

    .size-table__td:first-child {
        width: 150px;
    }

    .size-table__td:nth-child(2) {
        margin-left: 170px;
    }

    .size-table__tr:first-child:after {
        top: 52px;
    }
}

